// colors
$main-text: #8e7f7f;
$bg-color: #f4f4f4;
$accent-color: #506054;
$white: #f4f4f4;

// fonts
$main-font: 'Raleway', sans-serif;
$heading-font: 'Cormorant Garamond', serif;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

//  cursor
$cursor-dark: url('../images/cursor-dark.svg'), auto;
$cursor-light: url('../images/cursor.svg'), auto;
