<section class="aboutmeliterature">
  <div class="container">
    <p class="aboutmeliterature__text">
      Також, я читаю багато психологічної літератури, і знаю декілька цікавих
      психологічних фільмів, які можу порекомендувати тут
    </p>
    <h3
      class="description__greetings--start description__greetings--start-aboutmeliterature"
    >
      Корисна література
    </h3>
    <h4 class="contact__accent-text">При проблемах у відносинах:</h4>
    <ul class="symptomatics__list">
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Джон Грей “Жінки з Венери, а чоловіки з Марсу”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Джон Грей “Рецепти щасливих взаємовідносин”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Ірвін Ялом “Ліки від кохання”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Ерік Берн “Ігри, у які грають люди”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Барі і Джаней Уайнхолд “Побіг від близкості”
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Ірвін Ялом “Ліки від кохання”;
      </li>
    </ul>
    <h4 class="contact__accent-text">
      При проблемах у відносинах з собою та батьками:
    </h4>
    <ul class="symptomatics__list">
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Ліндсі К. Гібсон “Дорослі діти емоційно незрілих батьків”
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Пег Стрип “Нелюбима донька”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Ерік Берн “Ігри, у які грають люди”;
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Барі і Джаней Уайнхолд “Побіг від близкості”
      </li>
    </ul>
    <h3
      class="description__greetings--start description__greetings--start-aboutmeliterature"
    >
      Фільми і серіали
    </h3>
    <h4 class="contact__accent-text">Про абьюзивні стосунки:</h4>
    <ul class="symptomatics__list">
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Фільм “У ліжку з ворогом”
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Фільм “Дорога змін”
      </li>
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Серіал “Ти”
      </li>
    </ul>
    <h4 class="contact__accent-text">
      При проблемах у відносинах з собою та батьками:
    </h4>
    <p>Фільм “Обдарована”</p>
    <ul class="symptomatics__list">
      <li class="symptomatics__item">
        <div class="symptomatics__item--decoration"></div>
        Серіал “Ти”
      </li>
    </ul>
  </div>
</section>
