<section class="aboutmeliterature">
  <div class="container">
    <h3 class="titles">Корисна література</h3>
    <h4>При проблемах у відносинах:</h4>
    <ul>
      <li>Джон Грей “Жінки з Венери, а чоловіки з Марсу ”;</li>
      <li>Джон Грей “Рецепти щасливих взаємовідносин”;</li>
      <li>Ірвін Ялом “Ліки від кохання”;</li>
      <li>Ерік Берн “Ігри, у які грають люди”;</li>
      <li>Барі і Джаней Уайнхолд “Побіг від близкості”</li>
      <li>Ірвін Ялом “Ліки від кохання”;</li>
    </ul>
    <h3>при проблемах у відносинах з собою та батьками:</h3>
    <ul>
      <li>Ліндсі К. Гібсон “Дорослі діти емоційно незрілих батьків”</li>
      <li>Пег Стрип “Нелюбима донька”;</li>
      <li>Ерік Берн “Ігри, у які грають люди”;</li>
      <li>Барі і Джаней Уайнхолд “Побіг від близкості”</li>
    </ul>
    <h2>Фільми і серіали</h2>
    <h3>про абьюзивні стосунки:</h3>
    <ul>
      <li>Фільм “У ліжку з ворогом”</li>
      <li>Фільм “Дорога змін”</li>
      <li>Серіал “Ти”</li>
    </ul>
    <h3>при проблемах у відносинах з собою та батьками:</h3>
    <p>Фільм “Обдарована”</p>
  </div>
</section>
