<section class="aboutmeabout">
  <div class="aboutmeabout__thumb-eyes">
    <img
      src="./images/aboutme1-1.jpg"
      alt="eyes"
      class="aboutmeabout__thumb-eyes--item"
    />
  </div>
  <div class="container">
    <div class="link-nav"><a href="./index.html">Головна /</a> Про мене</div>
    <h2 class="hero__name hero__name--aboutmeabout">Про мене</h2>
    <div class="aboutmeabout__wrapper">
      <div class="aboutmeabout__thumb_wrapper">
        <div class="aboutmeabout__picture1">
          <img
            src="./images/aboutme2.jpg"
            alt="Фото психолога"
            class="aboutmeabout__picture1--item"
          />
        </div>
        <div class="aboutmeabout__picture2">
          <img
            src="./images/aboutme2-2.jpg"
            alt="Фото психолога"
            class="aboutmeabout__picture1--item"
          />
        </div>
      </div>
      <div class="aboutmeabout__wrapper--inner">
        <h3
          class="description__greetings--start description__greetings--aboutmeabout"
        >
          Мій шлях до психології.
        </h3>
        <p class="contact__accent-text contact__accent-text--aboutmeabout">
          Хочу розповісти трохи більше про себе як про особистість.
        </p>
        <p class="aboutmeabout__description-text">
          Мене звати Анна! Я веду здоровий спосіб життя і займаюсь спортом.
          Полюбляю дайвінг, плавати, у вільний час малюю, читаю, подорожую і
          провожу час з близькими людьми.
        </p>
      </div>
    </div>
    <ul class="aboutmeabout__list">
      <li class="aboutmeabout__list-item">
        <span class="aboutmeabout__list--mod"
          >Мій шлях до психології почався ще в школі.</span
        ><br /><br />
        Спершу я думала обрати професію, пов'язану з бізнесом, але на уроках
        біології мене більше тягнуло до чогось людського. І в бізнесі мені
        подобалась саме ця психологічна спрямованість: командоутворення,
        мотивування, спілкування, відбір персоналу. Тоді я ще не наважилась
        спрямувати себе у бік психології.
      </li>
      <li class="aboutmeabout__list-item">
        Я вступила до Київського політехнічного університету ім. Сікорського на
        спеціальність “Менеджемент”. Я провчилась один рік, і паралельно почала
        навчатись психології в Національному педагогічному університеті ім.
        Драгоманова на спеціальності “Клінічна психологія”, щоб мати дві
        заканчиних освіти. Часто люди звертаються до психолога з проблемами по
        роботі, отже, менеджмент залишався для мене важливим.
        <br />
        <br />
        <div class="aboutmeabout__list-item--img">
          <img
            src="./images/aboutme3.jpg"
            alt=""
            class="aboutmeabout__list-item--img-item"
          />
        </div>
        <br />
      </li>
      <li class="aboutmeabout__list-item">
        Перед тим, як я вступила до другого університету, я відвідувала багато
        психологічних лекцій, в Київському національному університеті ім. Тараса
        Шевченка, які проводили студенти з кафедри психології, майстер－класи з
        метафоричних карт, лекції про різні направлення психотерапії. Я
        відчувала, що мені не просто цікаво, а я готова слухати ще і ще. Для
        мене було чимось новим, що мені стало таким цікавим навчання. І я
        вирішила, хоч тягнути два вищих було не так легко.
      </li>
      <li class="aboutmeabout__list-item">
        Після цього я завжди шукала (і далі шукаю) вільні години, щоб вивчити
        щось нове, бо це мій професіоналізм, мій рівень підготовки, моя
        впевненість в результатах. Я проходила і прохожу, і збираюсь проходити
        курси в університетах різних країн, терапевтичних направлень, щоб мати
        змогу подивитись на ситуацію з різних боків, відвідую методичні наради,
        вивчаю юридичні аспекти діяльності психологів. Деякі курси є
        сертифікованими, деякі ні.
      </li>
      <li class="aboutmeabout__list-item">
        Після цього я завжди шукала (і далі шукаю) вільні години, щоб вивчити
        щось нове, бо це мій професіоналізм, мій рівень підготовки, моя
        впевненість в результатах. <br />
        <br />
        <span>
          Я проходжу курси в університетах різних країн, терапевтичних
          направлень, щоб мати змогу подивитись на ситуацію з різних боків,
          відвідую методичні наради, вивчаю юридичні аспекти діяльності
          психологів.
        </span>
      </li>
      <li class="aboutmeabout__list-item">
        Крім того, я прохожу особисту терапію (при консультуванні це важливий
        фактор, якщо простою мовою “вирішити всі свої проблеми, щоб на
        консультації допомогати саме клієнту, а не собі через нього” або як у
        вислові “Будь обережним, коли гола людина пропонує тобі свою рубашку”),
        відвідую інтервезійні та терапевтичні групи підтримки для психологів.
      </li>
    </ul>
  </div>
</section>
