.groups {
  @include desktop {
    margin-bottom: 120px;
  }

  &__span {
    padding-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
  }
}

.titles--25 {
  font-family: $heading-font;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 150%;
  color: $accent-color;
  font-weight: 500;

  margin-bottom: 20px;
}

.remove-margin {
  margin-left: 0;
}

.reverse {
  flex-direction: row-reverse;
  margin-left: 0;
  justify-content: space-between;
}

.space-btw {
  justify-content: space-between;
}
