<section class="groups">
  <div class="aboutmeabout__thumb-eyes">
    <img
      src="./images/group1.jpg"
      alt="legs"
      class="aboutmeabout__thumb-eyes--item"
    />
  </div>
  <div class="container">
    <div class="link-nav">
      <a href="./index.html">Головна /</a> Групові сесії
    </div>
    <h2 class="hero__name">групові сесії</h2>
    <div class="aboutmeabout__thumb_wrapper">
      <div class="aboutmeabout__picture1">
        <img
          src="./images/group3.jpg"
          alt="Фото психолога"
          class="aboutmeabout__picture1--item"
        />
      </div>
      <div class="aboutmeabout__picture2">
        <img
          src="./images/group2.jpg"
          alt="Фото психолога"
          class="aboutmeabout__picture1--item"
        />
      </div>
    </div>
    <h3 class="titles--25">Як проходять мої консультації для груп</h3>
    <div class="groups__span">
      <p class="groups__text">
        Перша консультація посідає особливе місце. Багато хто вважає її
        найскладнішою, оскільки перша консультація у психолога проходить у
        найбільш напруженій атмосфері.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        Клієнт, поки що, лише знайомиться з психологом, приміряється до
        майбутньої роботи, складає власне враження про психолога. Йому ще важко
        досить відкрито говорити про свої труднощі та переживання.
      </p>
    </div>

    <div class="groups__span">
      <p class="groups__text">
        У психолога теж багато переживань, адже на цьому етапі він ще не досить
        добре відчуває клієнта, не завжди розуміє, чого від нього очікує клієнт,
        як краще поводитися, щоб допомогти клієнту відчути себе максимально
        комфортно.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        За всіх цих труднощів, можна сказати, що перша консультація є
        вирішальною. Психолог повинен зуміти розібратися в запитах клієнта і
        прийняти рішення про те, чи може допомогти клієнту в їх задоволенні.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        У свою чергу, клієнт також складає власне враження та приймає рішення
        про те, чи готовий він довірити свої інтимні переживання і чи хоче
        продовжити роботу з психологом.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        З цього випливає, що на першій консультації у психолога обов'язково
        потрібно обумовити правила майбутньої роботи: тривалість і вартість,
        частота та регулярність візитів, зручний час відвідування, прояснити
        запит та обумовити бажаний результат.
      </p>
    </div>
  </div>
</section>
