<section class="groups">
  <div class="container">
    <h2 class="hero__name">групові сесіі</h2>
    <h3 class="titles">Як проходять мої консультації для груп</h3>
    <p>
      <span
        >Перша консультація посідає особливе місце. Багато хто вважає її
        найскладнішою, оскільки перша консультація у психолога проходить у
        найбільш напруженій атмосфері.
      </span>
      <span
        >Клієнт, поки що, лише знайомиться з психологом, приміряється до
        майбутньої роботи, складає власне враження про психолога. Йому ще важко
        досить відкрито говорити про свої труднощі та переживання.
      </span>
      <span
        >У психолога теж багато переживань, адже на цьому етапі він ще не досить
        добре відчуває клієнта, не завжди розуміє, чого від нього очікує клієнт,
        як краще поводитися, щоб допомогти клієнту відчути себе максимально
        комфортно.
      </span>
      <span
        >За всіх цих труднощів, можна сказати, що перша консультація є
        вирішальною. Психолог повинен зуміти розібратися в запитах клієнта і
        прийняти рішення про те, чи може допомогти клієнту в їх задоволенні.
      </span>
      <span
        >У свою чергу, клієнт також складає власне враження та приймає рішення
        про те, чи готовий він довірити свої інтимні переживання і чи хоче
        продовжити роботу з психологом.
      </span>
      <span
        >З цього випливає, що на першій консультації у психолога обов'язково
        потрібно обумовити правила майбутньої роботи: тривалість і вартість,
        частота та регулярність візитів, зручний час відвідування, прояснити
        запит та обумовити бажаний результат.</span
      >
    </p>
  </div>
</section>
