<section class="advantages">
  <div class="container">
    <h2>Плюси онлайн консультації</h2>
    <ul>
      <li>
        <h3>Зручність</h3>
        <p>Працюєте у зручному для вас місці</p>
      </li>
      <li>
        <h3>Психологічно безпечне місце</h3>
        <p>
          У своєму домі ви можете відчувати себе комфортніше та впевненіше, ніж
          у незнайомому місці.
        </p>
      </li>
      <li>
        <h3>Менші витрати часу</h3>
        <p>
          Вам не потрібно витрачати час на дорогу до кабінету психолога та
          дорогу додому
        </p>
      </li>
      <li>
        <h3>Мобільність</h3>
        <p>
          Можете продовжувати відвідувати психологічні консультації під час
          подорожей, відпусток, відряджень, переїзду в інше місто.
        </p>
      </li>
    </ul>
  </div>
</section>
