<section class="description">
  <div class="container">
    <div class="greetings__wrapper-top">
      <div class="description__img-wrapper">
        <div class="description__thumb--girl">
          <img
            src="./images/description1.jpg"
            alt="psychologist picture"
            class="description__thumb--girl-item"
          />
        </div>
        <div class="description__thumb--books">
          <img
            src="./images/description2.jpg"
            alt="books picture"
            class="description__thumb--books-item"
          />
        </div>
      </div>
      <div class="greetings__wrapper-mid">
        <div class="container__greetings" id="description">
          <h3 class="description__greetings--start">Вітаю! Мене звати Анна</h3>
          <h2 class="description__greetings--end">Я - психолог.</h2>
        </div>
        <div class="container__about">
          <p>
            <span class="description__abouttext">
              Моє завдання як психолога - допомогти вам у вирішенні проблем
              особистого характеру.
            </span>
            <span class="description__abouttext">
              Зі мною ви можете ділитись тим, про що не можете поговорити з
              друзями чи близькими, і бути впевненими у конфіденційності
              сказаного і у майбутньому вирішенні вашої проблеми.
            </span>
            <span class="description__abouttext">
              Я навчу вас краще розуміти себе, разом з вами ми знайдемо шляхи
              поліпшення якості вашого життя і міжособистих відносин.
            </span>
          </p>
        </div>
      </div>
    </div>
    <h3 class="titles">Ви можете звертатися до мене з запитами</h3>
    <ul class="description__enumeration-list">
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Психодіагностика вашого стану
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Питання самооцінки
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Психологія харчування, зайвої ваги
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Відносини
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Сепарація
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Страхи
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Особисті кордони
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Трикутник Карпмана
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Бажання, цілі
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Пошук покликання
      </li>
      <li class="description__enumeration">
        <div class="description__enumeration--decoration"></div>
        Інше
      </li>
    </ul>
    <div class="position-center description__primary-btn">
      <a href="#have-questions">
        <button type="button" class="primary-btn">
          Записатися на консультацію
        </button>
      </a>
    </div>
  </div>
</section>
