<section class="description">
  <div class="container">
    <img src="./images/description1.jpg" alt="psychologist picture" />
    <img src="./images/description2.jpg" alt="books picture" />
    <div class="container__glaw">
      <h3 class="description__glawtext">Вітаю! Мене звати Анна</h3>
      <h2 class="description__glawtext">Я - практикуючий психолог.</h2>
    </div>
    <div class="container__aboutme">
      <p>
        <span class="description__abouttext">
          Моє завдання як психолога - допомогти вам у вирішенні проблем особистого
          характеру.
        </span>
        <span class="description__abouttext">
          Зі мною ви можете ділитись тим, про що не можете поговорити з друзями чи
          близькими, і бути впевненими у конфіденційності сказаного і у
          майбутньому вирішенні вашої проблеми.
        </span>
        <span class="description__abouttext">
          Я навчу вас краще розуміти себе, разом з вами ми знайдемо шляхи
          поліпшення якості вашого життя і міжособистих відносин.
        </span>
      </p>
    </div>
    <h3 class="description__requestme">Ви можете звертатися до мене з запитами</h3>
    <ul>
      <li class="description__enumeration"><p>Психодіагностика вашого стану</p></li>
      <li class="description__enumeration">Питання самооцінки</li>
      <li class="description__enumeration">Психологія харчування, зайвої ваги</li>
      <li class="description__enumeration">Відносини</li>
      <li class="description__enumeration">Сепарація</li>
      <li class="description__enumeration">Страхи</li>
      <li class="description__enumeration">Особисті кордони</li>
      <li class="description__enumeration">Трикутник Карпмана</li>
      <li class="description__enumeration">Бажання, цілі</li>
      <li class="description__enumeration">Пошук покликання</li>
      <li class="description__enumeration">Сепарація</li>
      <li class="description__enumeration">Інше</li>
    </ul>
    <button type="button">Записатися на консультацію</button>
  </div>
</section>
