<section class="education">
  <div class="container">
    <h2 class="titles">Моя освіта</h2>
    <div class="education__wrapper">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="./images/education1.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./images/education2.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./images/education3.jpg" alt="" />
          </div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <ul class="symptomatics__list">
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          НПУ ім. Драгоманова, Клінічна психологія, Факультет спеціальної
          психології та медицини
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Позитивна психіатрія і ментальне здоров’я - курс в Університеті Сіднею
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Шизофренія - курс в Єльському Університеті
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Перша психологічна допомога в університеті Джона Хопкінса
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Школа Психоаналізу у Міжнародному Інституті Глибинної Психології
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Менеджмент і бізнес-адміністрування в КПІ ім. Сікорського
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Курси дитячої арт-терапії.
        </li>
      </ul>
    </div>
  </div>
</section>
