<section class="footer">
  <div class="container">
    <div class="footer__item">
      <div class="footer__item--decoration"></div>
      <p class="footer__agreement">Політика конфіденційності</p>
    </div>
    <ul class="footer__list">
      <li class="footer__list--item"><a href="">Договір оферти</a></li>
      <li>
        <div class="footer__item">
          <a href="mailto:annaostapenkowork@gmail.com"
            >annaostapenkowork@gmail.com</a
          >
          <div class="footer__item--decoration2"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
