<section class="hero">
  <div class="container">
    <div class="hero__thumb">
      <img src="./images/hero.jpg" alt="Anna Ostapenko" class="hero__picture" />
    </div>
    <ul class="hero__lang">
      <li>Eng</li>
      <li class="hero__lang--ukr">Укр</li>
    </ul>
    <h1 class="hero__header">Практикуючий психолог</h1>
    <h2 class="hero__name">Остапенко Анна</h2>
    <ul class="hero__options">
      <li>Індивідуальні консультації</li>
      <li>Групові зустрічі</li>
      <li>Онлайн зустрічі</li>
    </ul>
    <ul class="hero_buttons">
      <li>
        <button type="button" class="hero__secondary-btn secondary-btn">
          Дізнатися більше
        </button>
      </li>
      <li>
        <button type="button" class="primary-btn">
          Записатися на консультацію
        </button>
      </li>
    </ul>
  </div>
</section>
