<section class="hero">
  <div class="container">
    <img src="./images/hero.jpg" alt="" />
    <ul class="hero__lang">
      <li>Eng</li>
      <span>/</span>
      <li>Укр</li>
    </ul>
    <h1>Практикуючий психолог</h1>
    <h2>Остапенко Анна</h2>
    <ul>
      <li>Індивідуальні консультації</li>
      <li>Групові зустрічі</li>
      <li>Онлайн зустрічі</li>
    </ul>
    <ul>
      <li>
        <button type="button">Дізнатися більше</button>
      </li>
      <li>
        <button type="button">Записатися на консультацію</button>
      </li>
    </ul>
  </div>
</section>
