<nav>
  <ul>
    <li>Про мене</li>
    <li>групові сесіі</li>
    <li>індивідуальні зустрічі</li>
    <li>як проходять консультації</li>
  </ul>
  <ul class="contact__form-icons">
    <li>
      <svg class="icon-instagram">
        <use href="./images/sprite.svg#icon-instagram"></use>
      </svg>
    </li>
    <li>
      <svg class="icon-telegram">
        <use href="./images/sprite.svg#icon-telegram"></use>
      </svg>
    </li>
    <li>
      <svg class="icon-tiktok">
        <use href="./images/sprite.svg#icon-tiktok"></use>
      </svg>
    </li>
    <li>
      <svg class="icon-youtube">
        <use href="./images/sprite.svg#icon-youtube"></use>
      </svg>
    </li>
  </ul>
</nav>
