<div class="backdrop is-hidden" data-modal>
  <div class="data-modal">
    <div class="modal-button-wrapper" data-modal-close>
      <button type="button" class="close">X</button>
    </div>

    <nav>
      <ul class="menu-list">
        <li class="menu-items">
          <a href="./aboutme.html"> Про мене</a>
        </li>
        <li class="menu-items">
          <a href="./group.html"> групові сесіі</a>
        </li>
        <li class="menu-items">
          <a href="./individual.html"> індивідуальні зустрічі</a>
        </li>
        <li class="menu-items">
          <a href="./how.html"> як проходять консультації</a>
        </li>
      </ul>
      <ul class="contact__form-icons">
        <li>
          <svg class="icon-instagram">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </li>
        <li>
          <svg class="icon-telegram">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </li>
        <li>
          <svg class="icon-tiktok">
            <use href="./images/sprite.svg#icon-tiktok"></use>
          </svg>
        </li>
        <li>
          <svg class="icon-youtube">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</div>
