<section class="symptomatics">
  <div class="container">
    <h2>Симптоми, які є приводом записатися на прийом</h2>
    <img src="./images/symptomatics1.jpg" alt="psychologist image" />
    <img src="./images/symptomatics2.jpg" alt="books image" />
    <ul>
      <li>Думки про самогубство</li>
      <li>
        Зміни в характері: нетовариськість, втрата інтересу до справ,
        замкнутість.
      </li>
      <li>Бажання шкодити собі або сліди на тілі (порізи, опіки, подряпини)</li>
      <li>Зміни самовпевненості, установка на провал</li>
      <li>Незрозумілі, дивні відчуття в тілі</li>
      <li>Панічні атаки</li>
      <li>Дратівливість і агресія</li>
      <li>Небажання рухатися</li>
      <li>
        Несподівані емоційні реакції: смуток у відповідь на питання про справи,
        сльозливість під час перегляду комедії
      </li>
      <li>Перепади настрою</li>
      <li>Нестабільний апетит.</li>
      <li>Втома, сонливість, апатія</li>
      <li>
        Порушення сну: постійна сонливість, незадовільна якість сну або безсоння
      </li>
      <li>Труднощі з концентрацією</li>
      <li>Поява або почастішання нав’язливих дій</li>
    </ul>
    <button type="button">Записатися на консультацію</button>
  </div>
</section>
