<section class="symptomatics">
  <div class="container">
    <h2 class="titles">Симптоми, які є приводом записатися на прийом</h2>
    <div class="symptomatics-wrapper">
      <div class="symptomatics__img-wrapper">
        <div class="symptomatics__thumb--girl">
          <img
            src="./images/symptomatics2.jpg"
            alt="psychologist image"
            class="symptomatics__thumb--girl-item"
          />
        </div>
        <div class="symptomatics__thumb--books">
          <img
            src="./images/symptomatics1.jpg"
            alt="books image"
            class="symptomatics__thumb--books-item"
          />
        </div>
      </div>
      <ul class="symptomatics__list">
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Думки про самогубство
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Зміни в характері: нетовариськість, втрата інтересу до справ,
          замкнутість.
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Бажання шкодити собі або сліди на тілі (порізи, опіки, подряпини)
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Зміни самовпевненості, установка на провал
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Незрозумілі, дивні відчуття в тілі
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Панічні атаки
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Дратівливість і агресія
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Небажання рухатися
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Несподівані емоційні реакції: смуток у відповідь на питання про
          справи, сльозливість під час перегляду комедії
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Перепади настрою
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Нестабільний апетит.
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Втома, сонливість, апатія
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Порушення сну: постійна сонливість, незадовільна якість сну або
          безсоння
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Труднощі з концентрацією
        </li>
        <li class="symptomatics__item">
          <div class="symptomatics__item--decoration"></div>
          Поява або почастішання нав’язливих дій
        </li>
      </ul>
    </div>
    <div class="position-center">
      <button type="button" class="primary-btn symptomatics__primary-btn">
        Записатися на консультацію
      </button>
    </div>
  </div>
</section>
