<section class="how">
  <div class="container">
    <h2 class="hero__name">як проходять консультації</h2>
    <h3 class="titles">Як потрапити на консультацію?</h3>
    <ul>
      <li>
        Телефонуйте на номер, вказаний у контактах або пишіть у дірект в
        інстаграмі.
      </li>
      <li>Ми обираємо зручний для вас час.</li>
      <li>
        Оплата першої консультації, призначення її дати та часу проведення.
      </li>
      <li>Ви переходите по відправленому посиланню.</li>
      <li>Ми обираємо зручний для вас час.</li>
      <li>Вітаю, ви на консультації!</li>
    </ul>
    <h3>Як потрапити на консультацію?</h3>
    <ul>
      <li>
        Якщо ви затримуєтесь - попередьте про це за годину до початку
        консультації. Ваша консультація має фіксований час, і якщо ви
        запізнились на 15 хвилин, у вас залишилось 45 хвилин, якщо на 20, то
        залишилось 40, тому що після вас можуть бути інші клієнти.
      </li>
      <li>
        Якщо ви не можете прийти на консультацію, попередьте про це за день до
        консультації, у цьому разі гроші вам повертаються. У разі, якщо ви
        повідомили
      </li>
      <li>
        Заборонено приходити на консультації у стані наркотичного або
        алкогольного сп’яніння, зневажлива поведінка.
      </li>
      <li>Прийом неповнолітніх осіб здійснюється з дозволу батьків.</li>
    </ul>
  </div>
</section>
