.icon {
  &-instagram {
    fill: black;
    height: 40px;
    width: 40px;
  }

  &-telegram {
    height: 40px;
    width: 40px;
  }

  &-tiktok {
    height: 40px;
    width: 40px;
  }

  &-youtube {
    height: 40px;
    width: 40px;
  }
}
