.contact {
  &__accent-text {
    font-size: 23px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: normal;

    text-align: center;
    margin-bottom: 10px;
    color: $accent-color;
    @include desktop {
      text-align: start;
      margin-bottom: 0px;
    }
  }

  &__input--text {
    width: 100%;
    background: transparent;
    margin-bottom: 24px;
    border: 0;
    border-bottom: 1px solid;
    padding: 8px 2px;

    @include desktop {
      margin-bottom: 12px;

      width: 475px;
      margin-bottom: 40px;
    }
  }

  &__accent-text-lower {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(26 / 22);
    @include desktop {
      justify-content: normal;
    }
  }

  &__form-item {
    margin-bottom: 14px;
    @include desktop {
      margin-bottom: 40px;
    }
  }
}

.contact__form {
  margin-top: 32px;
  margin-bottom: 32px;
  &--btn {
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 48px;
  }
  @include desktop {
    padding-left: 40px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.icon {
  &-instagram {
    fill: black;
    height: 40px;
    width: 40px;
  }

  &-telegram {
    height: 40px;
    width: 40px;
  }

  &-tiktok {
    height: 40px;
    width: 40px;
  }

  &-youtube {
    height: 40px;
    width: 40px;
  }
}

.contact__form-icons {
  display: flex;
  gap: 24px;
}

.contact-wrapper {
  @include desktop {
    display: flex;
  }
}

.contact__form-list {
  @include desktop {
    margin-top: 100px;
    margin-left: 180px;
  }
}
