.footer {
  padding-top: 80px;
  text-align: center;

  font-size: 12px;
  line-height: calc(19 / 16);

  &__list {
    margin-bottom: 120px;
    &--item {
      margin-bottom: 22px;
    }
  }

  &__agreement {
    margin-bottom: 22px;
  }
}

.footer {
  &__item {
    display: flex;
    justify-content: center;

    &--decoration {
      margin-top: 6px;
      margin-right: 8px;

      min-width: 18px;
      height: 0px;
      border-top: 1px solid #8e7f7f;
      @include desktop {
        width: 100%;
      }
    }
    &--decoration2 {
      margin-top: 6px;
      margin-left: 8px;

      min-width: 18px;
      height: 0px;
      border-top: 1px solid #8e7f7f;
      @include desktop {
        width: 100%;
      }
    }
  }
}
