.hero {
  font-size: 20px;
  font-weight: 400;

  padding: 28px 0;

  &__secondary-btn {
    margin-bottom: 16px;

    @include desktop {
      margin-bottom: 0;
      padding-left: 44px;
      padding-right: 44px;
    }
  }

  &__header {
    font-weight: 400;
    font-size: 21px;
    line-height: calc(27 / 23);
    text-align: center;

    margin-bottom: 16px;

    @include desktop {
      font-size: 25px;
      line-height: calc(29 / 25);
    }
  }

  &__name {
    font-family: $heading-font;
    font-weight: 500;
    color: $accent-color;
    font-size: 35px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include desktop {
      font-size: 60px;
      line-height: calc(73 / 60);
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 16px;

    margin-bottom: 48px;
    @include desktop {
      flex-direction: column;
      margin-left: 80px;
    }
  }

  &__thumb {
    margin-bottom: 16px;
    padding: 8px;
    border: 2px solid $accent-color;
    width: 356px;
    height: 418px;
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__wrapper-image {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__wrapper {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: flex-end;
      max-width: 700px;
    }
  }
}

.hero__lang {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include desktop {
    margin-left: 300px;
    font-size: 18px;
    line-height: calc(21 / 18);
  }
}

.hero__lang--ukr::before {
  content: '/';
}

.hero_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    gap: 60px;
    margin-bottom: 0;
  }
}

.hero {
  &__item {
    font-size: 20px;
    display: flex;

    &--decoration {
      margin-top: 12px;
      margin-right: 12px;

      min-width: 26px;
      height: 0px;
      border-top: 1px solid #8e7f7f;
    }
  }
}
