.hero {
  font-size: 20px;
  font-weight: 400;

  padding: 28px 0;

  &__secondary-btn {
    margin-bottom: 16px;
  }

  &__header {
    font-weight: 400;
    font-size: 21px;
    line-height: calc(27 / 23);
    text-align: center;

    margin-bottom: 16px;
  }

  &__name {
    font-family: $heading-font;
    font-weight: 500;
    color: $accent-color;
    font-size: 35px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 48px;
  }

  &__thumb {
    margin-bottom: 16px;
    padding: 8px;
    border: 2px solid $accent-color;
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero__lang {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hero__lang--ukr::before {
  content: '/';
}

.hero_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
