.symptomatics {
  padding-top: 40px;
  font-size: 20px;
  padding-bottom: 28px;

  &__list {
    margin-bottom: 40px;
    line-height: 150%;

    @include desktop {
      width: 580px;
    }
  }

  &__item {
    margin-bottom: 10px;

    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &--decoration {
      margin-top: 12px;
      margin-right: 12px;

      min-width: 26px;
      height: 0px;
      border-top: 1px solid #8e7f7f;
    }
  }
}

.symptomatics__img-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;

  padding-bottom: 24px;
  margin-bottom: 40px;

  @include desktop {
    width: 580px;
  }
}

.symptomatics__thumb--girl {
  padding-bottom: 28px;
  min-height: 340px;
  width: 65%;

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(80, 96, 84, 1) 30%,
      rgba(244, 244, 244, 1) 30%
    )
    1;
  border-left: 0;

  padding: 4px;

  &-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.symptomatics__thumb--books {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 55%;

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      rgba(244, 244, 244, 1) 50%,
      rgba(80, 96, 84, 1) 50%
    )
    1;
  border-right: 0;

  padding-left: 4px;
  padding-bottom: 4px;

  &-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 4px solid $white;
    border-right: 4px solid $white;
  }
}

.symptomatics-wrapper {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.symptomatics__primary-btn {
  padding-left: 24px;
  padding-right: 24px;
  @include desktop {
    margin-left: 780px;
    margin-bottom: 60px;
  }
}
