<section class="individuals">
  <div class="aboutmeabout__thumb-eyes">
    <img
      src="./images/ind1.jpg"
      alt="legs"
      class="aboutmeabout__thumb-eyes--item"
    />
  </div>
  <div class="container">
    <div class="link-nav">
      <a href="./index.html">Головна /</a> Індивідуальні зустрічі
    </div>
    <h2 class="hero__name">індивідуальні зустрічі</h2>
    <div class="aboutmeabout__thumb_wrapper">
      <div class="aboutmeabout__picture1">
        <img
          src="./images/ind2.jpg"
          alt="Фото психолога"
          class="aboutmeabout__picture1--item"
        />
      </div>
      <div class="aboutmeabout__picture2">
        <img
          src="./images/ind3.jpg"
          alt="Фото психолога"
          class="aboutmeabout__picture1--item"
        />
      </div>
    </div>
    <h3 class="titles--25">Як проходять мої консультації</h3>
    <div class="groups__span">
      <p class="groups__text">
        Робота з психологом вимагає безпечного простору - без нього не може бути
        поглиблення у роботі та змін у житті. Безпека забезпечується межами та
        ясним розумінням відповідальності сторін.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        Вся інформація, отримана від клієнта, є конфіденційною (не підлягає
        розголошенню).
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        Іноді, щоб не пропустити щось важливе, я можу вести записи. Їх я нікому
        не показую.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        Якщо виникають обставини, що перешкоджають присутності на наступній
        сесії, клієнт повідомляє мене про це не менше ніж за добу.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        У разі поганого Інтернет-з'єднання ми намагаємося зв'язатися в інших
        програмах, а якщо не виходить, то зв'язуємось по телефону і далі сесія є
        телефонною.
      </p>
    </div>
    <div class="groups__span">
      <p class="groups__text">
        Під час повітряної тривоги рекомендовано пройти до найближчого укриття
        або безпечного місця. Звідти, по можливості, ми продовжуємо сесію, або,
        після тривоги починаємо з того моменту, на якому зупинились.
      </p>
    </div>
  </div>
</section>
