<section class="individuals">
  <div class="container">
    <h2 class="hero__name">індивідуальні зустрічі</h2>
    <h3 class="titles">Як проходять мої консультації для груп</h3>
    <p>
      <span
        >Робота з психологом вимагає безпечного простору - без нього не може
        бути поглиблення у роботі та змін у житті. Безпека забезпечується межами
        та ясним розумінням відповідальності сторін.</span
      >
      <span
        >Вся інформація, отримана від клієнта, є конфіденційною (не підлягає
        розголошенню).
      </span>
      <span
        >Іноді, щоб не пропустити щось важливе, я можу вести записи. Їх я нікому
        не показую.</span
      >
      <span
        >Якщо виникають обставини, що перешкоджають присутності на наступній
        сесії, клієнт повідомляє мене про це не менше ніж за добу.
      </span>
      <span
        >У разі поганого Інтернет-з'єднання ми намагаємося зв'язатися в інших
        програмах, а якщо не виходить, то зв'язуємось по телефону і далі сесія є
        телефонною.</span
      >
      <span
        >Під час повітряної тривоги рекомендовано пройти до найближчого укриття
        або безпечного місця. Звідти, по можливості, ми продовжуємо сесію, або,
        після тривоги починаємо з того моменту, на якому зупинились.
      </span>
    </p>
  </div>
</section>
